<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-network-information" spec="../../projects/cordova-plugin-network-information" />
    <plugin name="de.appplant.cordova.plugin.background-mode" spec="../../projects/cordova-plugin-background-mode" />
    <plugin name="com.beyond.cordova.plugins.helloworld" spec="../../projects/helloworld" />
    <plugin name="cordova-plugin-battery-status" spec="../../projects/cordova-plugin-battery-status" />
</widget>
